[user]
  name = yuki tamazawa
  email = yuki@tamazawa.net
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
[core]
  excludesfile = ~/.gitignore
  editor = vi
[http]
  sslVerify = false
